/* ./NP14/help_Jpn.css */

.title {
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px;
	COLOR: #9e0b0f;
	FONT-FAMILY: Meiryo, MS PGothic, sans-serif, Gulim, Dotum, Seoul, Hangangche
}
.bottom_update {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #ababab;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.list_title {
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px;
	COLOR: #cc0000;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.main_title {
	FONT-WEIGHT: bold;
	FONT-SIZE: 30px;
	COLOR: #fcb040;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	ALIGN : CENTER;
}
.main_update {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #ffffff;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.sub_title {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #a2a2a2;
	FONT-FAMILY: Meiryo, MS PGothic, sans-serif, Gulim, Dotum, Seoul, Hangangche;
}
.top_navi {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #3f3f42;
	FONT-FAMILY: Meiryo, MS PGothic, sans-serif, Gulim, Dotum, Seoul, Hangangche;
}
.list {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR: #000000;
	LINE-HEIGHT: normal;
	FONT-FAMILY: Meiryo, MS PGothic, sans-serif, Gulim, Dotum, Seoul, Hangangche;
}
pre.list {
	word-wrap: break-word;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-break:break-all;
}
.table_title {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: Meiryo, MS PGothic, sans-serif, Gulim, Dotum, Seoul, Hangangche;
}
